<!DOCTYPE html>
<head>
    <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<html>
    <body>
        <p class="seperate">Brave New World</p>
        <div class="container">
            <div class="all">
                <!-- Display content from the database -->   
                <div class="book1"><a>Author: </a><%= data.author %></div>
                <div class="book2"><a href="<%= data.link %>">Buy on Amazon!</a></div>
            </div> 
        </div>
    </body>
</html>